## Preprocess data into 15 intervals

## Imports

In [1]:
import pandas as pd
from os.path import join
import datetime

%matplotlib inline
pd.set_option("display.precision", 2)

In [16]:
PATH = join("data_preprocessed", "historia_przejazdow_2019-03.csv_preprocessed.csv")
PATH

'data_preprocessed\\historia_przejazdow_2019-03.csv_preprocessed.csv'

In [17]:
df = pd.read_csv(PATH, index_col=0, parse_dates=True)

df.head()

,start_time,end_time,rental_place,return_place
bike_number,,,,
57114,2019-03-15 10:21:55,2019-03-15 10:28:18,Świdnicka - Piłsudskiego (Hotel Scandic),Świdnicka - Piłsudskiego (Hotel Scandic)
57092,2019-03-15 10:21:32,2019-03-15 10:28:23,Świdnicka - Piłsudskiego (Hotel Scandic),Świdnicka - Piłsudskiego (Hotel Scandic)
57060,2019-03-15 10:18:19,2019-03-15 10:32:18,Świdnicka - Piłsudskiego (Hotel Scandic),Świdnicka - Piłsudskiego (Hotel Scandic)
57115,2019-03-15 10:15:20,2019-03-15 10:32:21,Świdnicka - Piłsudskiego (Hotel Scandic),Świdnicka - Piłsudskiego (Hotel Scandic)
57114,2019-03-15 10:32:19,2019-03-15 10:34:08,Świdnicka - Piłsudskiego (Hotel Scandic),Świdnicka - Piłsudskiego (Hotel Scandic)

In [18]:
df['start_time']= pd.to_datetime(df['start_time']) 
df['end_time']= pd.to_datetime(df['end_time'])
df.head()

,start_time,end_time,rental_place,return_place
bike_number,,,,
57114,2019-03-15 10:21:55,2019-03-15 10:28:18,Świdnicka - Piłsudskiego (Hotel Scandic),Świdnicka - Piłsudskiego (Hotel Scandic)
57092,2019-03-15 10:21:32,2019-03-15 10:28:23,Świdnicka - Piłsudskiego (Hotel Scandic),Świdnicka - Piłsudskiego (Hotel Scandic)
57060,2019-03-15 10:18:19,2019-03-15 10:32:18,Świdnicka - Piłsudskiego (Hotel Scandic),Świdnicka - Piłsudskiego (Hotel Scandic)
57115,2019-03-15 10:15:20,2019-03-15 10:32:21,Świdnicka - Piłsudskiego (Hotel Scandic),Świdnicka - Piłsudskiego (Hotel Scandic)
57114,2019-03-15 10:32:19,2019-03-15 10:34:08,Świdnicka - Piłsudskiego (Hotel Scandic),Świdnicka - Piłsudskiego (Hotel Scandic)

## Divide in intervals

### Earliest rental

In [19]:
start = df.start_time.min()
start = start.replace(hour=0, minute=0, second=0)
start

Timestamp('2019-03-11 00:00:00')

### Latest return

In [20]:
end = df.end_time.max()
end = end.replace(hour=0, minute=0, second=0) + datetime.timedelta(days=1)

end

Timestamp('2019-04-02 00:00:00')

In [21]:
ranges = pd.date_range(start, end,freq='15T')
ranges

DatetimeIndex(['2019-03-11 00:00:00', '2019-03-11 00:15:00',
               '2019-03-11 00:30:00', '2019-03-11 00:45:00',
               '2019-03-11 01:00:00', '2019-03-11 01:15:00',
               '2019-03-11 01:30:00', '2019-03-11 01:45:00',
               '2019-03-11 02:00:00', '2019-03-11 02:15:00',
               ...
               '2019-04-01 21:45:00', '2019-04-01 22:00:00',
               '2019-04-01 22:15:00', '2019-04-01 22:30:00',
               '2019-04-01 22:45:00', '2019-04-01 23:00:00',
               '2019-04-01 23:15:00', '2019-04-01 23:30:00',
               '2019-04-01 23:45:00', '2019-04-02 00:00:00'],
              dtype='datetime64[ns]', length=2113, freq='15T')

In [22]:
all_trips_in_all_intervals_df  = pd.DataFrame(columns=["interval_start", "interval_end", "rental_place", "return_place"])
all_trips_in_all_intervals_df

Empty DataFrame
Columns: [interval_start, interval_end, rental_place, return_place]
Index: []

In [23]:
for i in range(len(ranges)-1):
    interval_start, interval_end = ranges[i],ranges[i+1]
    
    interval_df = df[(df.start_time <= interval_end) & (df.end_time >= interval_start)]    
    
    
    interval_df["interval_start"] = interval_start
    interval_df["interval_end"] = interval_end
    
    all_trips_in_all_intervals_df = all_trips_in_all_intervals_df.append(interval_df[["interval_start", "interval_end", "rental_place", "return_place"]])

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
all_trips_in_all_intervals_df

,interval_start,interval_end,rental_place,return_place
58086,2019-03-11 21:15:00,2019-03-11 21:30:00,Dworzec Główny,Dworzec Główny
58086,2019-03-11 21:30:00,2019-03-11 21:45:00,Dworzec Główny,Dworzec Główny
58086,2019-03-11 21:45:00,2019-03-11 22:00:00,Dworzec Główny,Dworzec Główny
58086,2019-03-11 22:00:00,2019-03-11 22:15:00,Dworzec Główny,Dworzec Główny
57114,2019-03-15 10:15:00,2019-03-15 10:30:00,Świdnicka - Piłsudskiego (Hotel Scandic),Świdnicka - Piłsudskiego (Hotel Scandic)
...,...,...,...,...
57094,2019-04-01 00:30:00,2019-04-01 00:45:00,Powstańcow Śląskich - Aleja Hallera,Grabiszyńska - Aleja Hallera
57546,2019-04-01 00:30:00,2019-04-01 00:45:00,Wita Stwosza - Szewska,Rondo Reagana
57458,2019-04-01 00:30:00,2019-04-01 00:45:00,Sienkiewicza - Wyszyńskiego,Traugutta - Kościuszki
57546,2019-04-01 00:45:00,2019-04-01 01:00:00,Wita Stwosza - Szewska,Rondo Reagana
57458,2019-04-01 00:45:00,2019-04-01 01:00:00,Sienkiewicza - Wyszyńskiego,Traugutta - Kościuszki

## Group by rentsl/return place

In [25]:
intervals_grouped_df = pd.DataFrame(columns=["interval_start", "interval_end", "number_of_trips", "rental_place", "return_place"])

intervals_grouped_df

Empty DataFrame
Columns: [interval_start, interval_end, number_of_trips, rental_place, return_place]
Index: []

In [26]:
for i in range(len(ranges)-1):
    interval_start, interval_end = ranges[i],ranges[i+1]
    
    interval_group_df = (all_trips_in_all_intervals_df[all_trips_in_all_intervals_df["interval_start"] == interval_start]).groupby(['rental_place', 'return_place'], as_index=False).count()

    interval_group_df = interval_group_df.rename(columns={"interval_start": "number_of_trips"})

    interval_group_df["interval_start"] = interval_start
    interval_group_df["interval_end"] = interval_end
    
    intervals_grouped_df = intervals_grouped_df.append(interval_group_df)

In [27]:
intervals_grouped_df

,interval_end,interval_start,number_of_trips,rental_place,return_place
0,2019-03-11 21:30:00,2019-03-11 21:15:00,1,Dworzec Główny,Dworzec Główny
0,2019-03-11 21:45:00,2019-03-11 21:30:00,1,Dworzec Główny,Dworzec Główny
0,2019-03-11 22:00:00,2019-03-11 21:45:00,1,Dworzec Główny,Dworzec Główny
0,2019-03-11 22:15:00,2019-03-11 22:00:00,1,Dworzec Główny,Dworzec Główny
0,2019-03-15 10:30:00,2019-03-15 10:15:00,4,Świdnicka - Piłsudskiego (Hotel Scandic),Świdnicka - Piłsudskiego (Hotel Scandic)
...,...,...,...,...,...
3,2019-04-01 00:45:00,2019-04-01 00:30:00,1,Traugutta - Pułaskiego,Dworzec Główny
4,2019-04-01 00:45:00,2019-04-01 00:30:00,1,Wita Stwosza - Szewska,Rondo Reagana
5,2019-04-01 00:45:00,2019-04-01 00:30:00,1,Wróblewskiego (Teki),Traugutta - Pułaskiego
0,2019-04-01 01:00:00,2019-04-01 00:45:00,1,Sienkiewicza - Wyszyńskiego,Traugutta - Kościuszki
1,2019-04-01 01:00:00,2019-04-01 00:45:00,1,Wita Stwosza - Szewska,Rondo Reagana

## Save to CSV

In [28]:
intervals_grouped_df.to_csv(join("plik.csv"), index=False)