## Preprocess data into 15 intervals

## Imports

In [2]:
from __future__ import absolute_import, division, print_function, unicode_literals
import functools
from IPython.display import Image
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import glob

from os.path import join

from processing_helper import extract_data


%matplotlib inline
pd.set_option("display.precision", 2)

In [5]:
PATH = join("data", "historia_przejazdow_2019-03.csv")
PATH

'data/historia_przejazdow_2019-03.csv'

In [6]:
df = pd.read_csv(PATH, index_col=0, parse_dates=True)

df = df[(df["rental_place"] !="Poza stacją") & (df["return_place"] !="Poza stacją")]

df.head()

,uid,bike_number,start_time,end_time,rental_place,return_place
886,65533380,57114,2019-03-15 10:21:55,2019-03-15 10:28:18,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic)
887,65533368,57092,2019-03-15 10:21:32,2019-03-15 10:28:23,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic)
888,65533283,57060,2019-03-15 10:18:19,2019-03-15 10:32:18,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic)
889,65533213,57115,2019-03-15 10:15:20,2019-03-15 10:32:21,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic)
890,65533616,57114,2019-03-15 10:32:19,2019-03-15 10:34:08,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic)

In [7]:
df['start_time']= pd.to_datetime(df['start_time']) 
df['end_time']= pd.to_datetime(df['end_time'])
df.head()

,uid,bike_number,start_time,end_time,rental_place,return_place
886,65533380,57114,2019-03-15 10:21:55,2019-03-15 10:28:18,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic)
887,65533368,57092,2019-03-15 10:21:32,2019-03-15 10:28:23,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic)
888,65533283,57060,2019-03-15 10:18:19,2019-03-15 10:32:18,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic)
889,65533213,57115,2019-03-15 10:15:20,2019-03-15 10:32:21,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic)
890,65533616,57114,2019-03-15 10:32:19,2019-03-15 10:34:08,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic)

## Add difference in minutes between start and end of a rental

In [8]:
difference_in_minutes = (df['end_time'] - df['start_time']).dt.seconds//60
df["difference_in_minutes"] = difference_in_minutes

df.head()

,uid,bike_number,start_time,end_time,rental_place,return_place,difference_in_minutes
886,65533380,57114,2019-03-15 10:21:55,2019-03-15 10:28:18,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic),6
887,65533368,57092,2019-03-15 10:21:32,2019-03-15 10:28:23,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic),6
888,65533283,57060,2019-03-15 10:18:19,2019-03-15 10:32:18,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic),13
889,65533213,57115,2019-03-15 10:15:20,2019-03-15 10:32:21,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic),17
890,65533616,57114,2019-03-15 10:32:19,2019-03-15 10:34:08,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic),1

## Filter records with a rental shorter then 1 min

In [9]:
df = df[df["difference_in_minutes"] >=1]

df.head()

,uid,bike_number,start_time,end_time,rental_place,return_place,difference_in_minutes
886,65533380,57114,2019-03-15 10:21:55,2019-03-15 10:28:18,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic),6
887,65533368,57092,2019-03-15 10:21:32,2019-03-15 10:28:23,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic),6
888,65533283,57060,2019-03-15 10:18:19,2019-03-15 10:32:18,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic),13
889,65533213,57115,2019-03-15 10:15:20,2019-03-15 10:32:21,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic),17
890,65533616,57114,2019-03-15 10:32:19,2019-03-15 10:34:08,Świdnicka / Piłsudskiego (Hotel Scandic),Świdnicka / Piłsudskiego (Hotel Scandic),1

## Divide in intervals

### Earliest rental

In [14]:
start = df.start_time.min()
start

Timestamp('2019-03-11 21:29:35')

### Latest return

In [19]:
end = df.end_time.max()
end

Timestamp('2019-04-01 00:48:13')

In [49]:
ranges = pd.date_range(start, end, freq='15T')
ranges

DatetimeIndex(['2019-03-11 21:29:35', '2019-03-11 21:44:35',
               '2019-03-11 21:59:35', '2019-03-11 22:14:35',
               '2019-03-11 22:29:35', '2019-03-11 22:44:35',
               '2019-03-11 22:59:35', '2019-03-11 23:14:35',
               '2019-03-11 23:29:35', '2019-03-11 23:44:35',
               ...
               '2019-03-31 22:29:35', '2019-03-31 22:44:35',
               '2019-03-31 22:59:35', '2019-03-31 23:14:35',
               '2019-03-31 23:29:35', '2019-03-31 23:44:35',
               '2019-03-31 23:59:35', '2019-04-01 00:14:35',
               '2019-04-01 00:29:35', '2019-04-01 00:44:35'],
              dtype='datetime64[ns]', length=1934, freq='15T')

In [48]:
for i in range(len(ranges)-1):
    interval_start, interval_end = ranges[i], ranges[i+1]
    
    interval_start = interval_start.to_pydatetime()
    interval_end = interval_end.to_pydatetime()
    
    pd.arrays.DatetimeArray(interval_start)
    
    break
    
    
interval_start    
    
# interval_df = df[df.start_time <= interval_end & df.end_time >= interval_start]

ValueError: Unexpected type 'datetime'. 'values' must be a DatetimeArray ndarray, or Series or Index containing one of those.