In [7]:
import os
import pandas as pd
import numpy as np
import pickle

from sklearn.preprocessing import LabelEncoder

In [2]:
with open('stations.pkl', 'rb') as f:
    wroclaw_stations = pickle.load(f)
wroclaw_stations += ['Fabryczna (WSB)']

cols = ['bike_number', 'start_time', 'end_time', 'rental_place', 'return_place']

In [3]:
def trim_and_remove_slash(s):
    return s.strip().replace('/', '-').replace('"', '').replace(',', ' -').replace('\xa0', '')

In [4]:
def load_and_clear_data(filename):
    print(filename)
    data = pd.read_csv(filename, usecols=cols)
    data['return_place'] = data['return_place'].apply(trim_and_remove_slash)
    data['rental_place'] = data['rental_place'].apply(trim_and_remove_slash)
    data = data[data.return_place.isin(wroclaw_stations) & data.rental_place.isin(wroclaw_stations)]
    data.dropna()
    return data

In [5]:
def remove_longer_than_24(data):
    data['rental_time'] = pd.to_timedelta(pd.DatetimeIndex(data['end_time']) - pd.DatetimeIndex(data['start_time']), unit='m')
    data = data[data['rental_time'] < pd.to_timedelta(24, unit='h')]
    data = data[data['rental_time'] > pd.to_timedelta(1, unit='m')]
    return data.drop(columns=['rental_time'])

In [6]:
data = load_and_clear_data('data/historia_przejazdow_2019-03.csv')
data = remove_longer_than_24(data)

data/historia_przejazdow_2019-03.csv

In [9]:
le = LabelEncoder()
le.fit(data['rental_place'])

LabelEncoder()

In [37]:
data_directory = 'data'
preprocessed_directory = 'data_preprocessed'
stations = np.array([])
os.makedirs(preprocessed_directory, exist_ok=True)
for filename in os.listdir(data_directory):
    if filename.endswith(".csv"):
        data = load_and_clear_data(f'{data_directory}/{filename}')
        data = remove_longer_than_24(data)
        month_stations = np.concatenate((data['rental_place'].unique(), data['return_place'].unique()))
        stations = np.unique(np.concatenate((stations, month_stations)))
        data.to_csv(f'{preprocessed_directory}/{filename}', index=False)

data/historia_przejazdow_2019-11.csv
data/historia_przejazdow_2019-12.csv
data/historia_przejazdow_2019-03.csv
data/historia_przejazdow_2019-07.csv
data/historia_przejazdow_2019-08.csv
data/historia_przejazdow_2019-06.csv
data/historia_przejazdow_2019-09.csv
data/historia_przejazdow_2019-04.csv
data/historia_przejazdow_2019-10.csv
data/historia_przejazdow_2019-05.csv

In [32]:
for filename in os.listdir(preprocessed_directory):
    if filename.endswith(".csv"):
        data = pd.read_csv(f'{preprocessed_directory}/{filename}', usecols=cols)
        le = LabelEncoder()
        le.fit(stations)
        data['rental_place'] = le.transform(data['rental_place'])
        data['return_place'] = le.transform(data['return_place'])
        data.to_csv(f'{preprocessed_directory}/{filename}', index=False)

       bike_number           start_time             end_time  rental_place  \
0           650748  2019-10-31 23:50:52  2019-11-01 00:02:32            56
1           650994  2019-11-01 00:00:37  2019-11-01 00:03:17           151
2           650210  2019-10-31 23:52:18  2019-11-01 00:04:04            50
3           650924  2019-10-31 23:54:13  2019-11-01 00:04:05            46
4           650840  2019-10-31 23:52:41  2019-11-01 00:04:13            50
...            ...                  ...                  ...           ...
90446       650350  2019-12-01 11:42:37  2019-12-01 11:55:40           159
90447        57984  2019-12-01 11:43:04  2019-12-01 11:55:40           159
90448       650700  2019-12-01 16:57:26  2019-12-01 17:10:07            48
90449        57976  2019-12-01 19:04:48  2019-12-01 19:15:46            43
90450        57713  2019-12-01 22:56:00  2019-12-01 23:04:14            79

       return_place
0               194
1                29
2                34
3                15
4                34
...             ...
90446           150
90447           150
90448           159
90449            54
90450           151

[90451 rows x 5 columns]
       bike_number           start_time             end_time  rental_place  \
0            57046  2019-11-30 23:47:31  2019-12-01 00:00:14           198
1           650852  2019-11-30 23:54:09  2019-12-01 00:00:30           113
2           650612  2019-11-30 23:53:25  2019-12-01 00:02:07            29
3           650526  2019-11-30 23:49:23  2019-12-01 00:05:09           202
4           650245  2019-11-30 23:53:16  2019-12-01 00:09:36            57
...            ...                  ...                  ...           ...
40573        57975  2019-12-31 23:42:33  2019-12-31 23:48:57            60
40574       650126  2019-12-31 23:46:54  2019-12-31 23:55:34            24
40575       650766  2019-12-31 23:48:23  2019-12-31 23:57:13            64
40576       650810  2019-12-31 23:50:09  2019-12-31 23:57:32           187
40577       650681  2019-12-31 23:50:23  2019-12-31 23:57:35           187

       return_place
0                46
1               103
2               135
3               100
4                96
...             ...
40573            60
40574            24
40575           162
40576           118
40577           118

[40578 rows x 5 columns]
       bike_number           start_time             end_time  rental_place  \
0            57114  2019-03-15 10:21:55  2019-03-15 10:28:18           195
1            57092  2019-03-15 10:21:32  2019-03-15 10:28:23           195
2            57060  2019-03-15 10:18:19  2019-03-15 10:32:18           195
3            57115  2019-03-15 10:15:20  2019-03-15 10:32:21           195
4            57114  2019-03-15 10:32:19  2019-03-15 10:34:08           195
...            ...                  ...                  ...           ...
34668        57094  2019-04-01 00:32:26  2019-04-01 00:43:36           125
34669        57546  2019-04-01 00:28:47  2019-04-01 00:46:34           163
34670        57458  2019-04-01 00:34:53  2019-04-01 00:48:13           140
34671        58086  2019-03-11 21:29:35  2019-03-11 22:03:22            18
34672        58086  2019-03-23 19:18:21  2019-03-23 19:35:37            18

       return_place
0               195
1               195
2               195
3               195
4               195
...             ...
34668            26
34669           136
34670           156
34671            18
34672            18

[34673 rows x 5 columns]
        bike_number           start_time             end_time  rental_place  \
0             57254  2019-06-30 23:54:42  2019-07-01 00:00:44            42
1             57413  2019-06-30 23:18:03  2019-07-01 00:01:01            86
2            650703  2019-06-30 23:51:05  2019-07-01 00:01:02           196
3            650374  2019-06-30 23:50:54  2019-07-01 00:01:24           112
4            650264  2019-06-30 23:57:33  2019-07-01 00:01:24           189
...             ...                  ...                  ...           ...
258351        57081  2019-07-25 12:36:21  2019-07-25 13:52:12           184
258352        57938  2019-07-27 12:03:07  2019-07-27 12:12:06            46
258353        57938  2019-07-27 15:52:45  2019-07-27 15:58:13           112
258354       650874  2019-07-28 10:07:54  2019-07-28 10:26:52           176
258355        57327  2019-07-28 14:19:08  2019-07-28 17:18:05            97

        return_place
0                 90
1                 61
2                154
3                115
4                178
...              ...
258351           184
258352            19
258353            19
258354             0
258355           161

[258356 rows x 5 columns]
        bike_number           start_time             end_time  rental_place  \
0            650163  2019-07-31 23:44:52  2019-08-01 00:00:22           121
1             57759  2019-07-31 23:44:39  2019-08-01 00:00:57             2
2             57779  2019-07-31 23:56:09  2019-08-01 00:00:57           200
3            650248  2019-07-31 23:46:05  2019-08-01 00:01:08             2
4            650946  2019-07-31 23:46:13  2019-08-01 00:01:20           126
...             ...                  ...                  ...           ...
228111        57829  2019-08-27 18:28:21  2019-08-27 18:46:30           116
228112        58019  2019-08-28 00:34:12  2019-08-28 00:37:50           177
228113        57762  2019-08-29 20:57:55  2019-08-29 21:03:58            66
228114        57879  2019-08-30 14:26:47  2019-08-30 14:38:00           115
228115        58044  2019-08-31 19:33:27  2019-08-31 19:53:39            62

        return_place
0                119
1                169
2                128
3                169
4                 10
...              ...
228111            45
228112           177
228113            66
228114            20
228115           129

[228116 rows x 5 columns]
        bike_number           start_time             end_time  rental_place  \
0             57477  2019-05-31 23:52:42  2019-06-01 00:00:05           202
1             57645  2019-05-31 23:52:46  2019-06-01 00:00:07           115
2             57211  2019-05-31 23:52:19  2019-06-01 00:00:44           153
3             57863  2019-05-31 23:47:38  2019-06-01 00:01:42           163
4             57720  2019-05-31 23:54:59  2019-06-01 00:02:10            18
...             ...                  ...                  ...           ...
264487        58005  2019-06-29 08:40:50  2019-06-29 21:52:20           202
264488        58115  2019-06-30 15:28:59  2019-06-30 15:36:34           108
264489        58115  2019-06-30 15:28:59  2019-06-30 15:36:34           108
264490        58115  2019-06-30 16:39:54  2019-06-30 16:46:06           108
264491        65063  2019-06-30 22:30:25  2019-06-30 22:31:35           164

        return_place
0                128
1                172
2                113
3                103
4                108
...              ...
264487           202
264488           108
264489           108
264490           108
264491           115

[264492 rows x 5 columns]
        bike_number           start_time             end_time  rental_place  \
0             57780  2019-08-31 23:56:39  2019-09-01 00:00:10           137
1            650121  2019-08-31 22:56:27  2019-09-01 00:00:13             9
2             57663  2019-08-31 23:38:51  2019-09-01 00:00:25            62
3             57784  2019-08-31 23:59:11  2019-09-01 00:00:26            19
4             57559  2019-08-31 23:55:00  2019-09-01 00:00:30            38
...             ...                  ...                  ...           ...
164136        58004  2019-09-27 18:58:27  2019-09-27 19:41:05            74
164137        57295  2019-09-29 11:28:26  2019-09-29 11:53:19             1
164138        57295  2019-09-29 12:32:25  2019-09-29 14:26:21           112
164139       650781  2019-09-30 15:02:01  2019-09-30 15:10:26            48
164140       650606  2019-09-30 19:55:46  2019-09-30 20:04:57            68

        return_place
0                 46
1                127
2                152
3                 19
4                140
...              ...
164136            74
164137           112
164138            39
164139            26
164140            67

[164141 rows x 5 columns]
        bike_number           start_time             end_time  rental_place  \
0             57768  2019-03-31 19:12:12  2019-04-01 00:01:03           167
1             57122  2019-03-31 23:47:28  2019-04-01 00:03:28           170
2             57414  2019-03-31 23:45:36  2019-04-01 00:03:48           113
3             57448  2019-04-01 00:01:12  2019-04-01 00:05:38           163
4             57798  2019-04-01 00:04:12  2019-04-01 00:05:55           108
...             ...                  ...                  ...           ...
153652        58041  2019-04-25 20:03:12  2019-04-25 20:13:13            19
153653        58023  2019-04-26 14:29:28  2019-04-26 14:41:40           163
153654        58033  2019-04-26 16:14:08  2019-04-26 19:53:37            89
153655        58028  2019-04-27 00:12:42  2019-04-27 00:18:40            41
153656        57899  2019-04-30 14:58:26  2019-04-30 15:03:31           195

        return_place
0                167
1                119
2                110
3                 16
4                108
...              ...
153652            41
153653           163
153654           201
153655            20
153656           195

[153657 rows x 5 columns]
        bike_number           start_time             end_time  rental_place  \
0            650154  2019-09-30 23:32:31  2019-10-01 00:00:18            91
1            650034  2019-09-30 23:48:17  2019-10-01 00:00:51            16
2            650651  2019-09-30 23:48:12  2019-10-01 00:01:09           189
3             57927  2019-09-30 23:45:19  2019-10-01 00:03:19           189
4            650281  2019-09-30 23:54:56  2019-10-01 00:03:34             7
...             ...                  ...                  ...           ...
153207       650395  2019-10-30 07:48:48  2019-10-30 07:52:24            93
153208        57765  2019-10-30 21:54:01  2019-10-30 22:04:31           163
153209       650502  2019-10-31 13:55:51  2019-10-31 13:58:40           106
153210       650784  2019-10-31 16:22:31  2019-10-31 16:26:38            97
153211        58024  2019-10-30 18:58:09  2019-10-31 17:08:14            74

        return_place
0                177
1                109
2                161
3                196
4                143
...              ...
153207           174
153208            83
153209           105
153210            96
153211           123

[153212 rows x 5 columns]
        bike_number           start_time             end_time  rental_place  \
0             57109  2019-04-30 23:54:45  2019-05-01 00:00:04            16
1             57465  2019-04-30 23:56:40  2019-05-01 00:00:18            16
2             57066  2019-04-30 23:51:38  2019-05-01 00:01:06            46
3             57503  2019-04-30 23:52:19  2019-05-01 00:01:06            46
4             57799  2019-04-30 23:52:08  2019-05-01 00:01:38            46
...             ...                  ...                  ...           ...
140460        57168  2019-05-31 23:52:11  2019-05-31 23:59:59           202
140461        58002  2019-05-06 08:29:55  2019-05-07 08:09:47            58
140462        57208  2019-05-14 21:42:49  2019-05-14 21:51:06           113
140463        57444  2019-05-17 22:32:24  2019-05-17 22:37:24            20
140464        58002  2019-05-17 23:03:07  2019-05-17 23:10:43           136

        return_place
0                 16
1                 16
2                119
3                119
4                119
...              ...
140460           128
140461            58
140462            28
140463            19
140464           136

[140465 rows x 5 columns]

In [40]:
mapping_dict = {stations[i]: i for i in range(0, len(le.classes_))}
stations_pd = pd.DataFrame(stations, columns=['name'])
stations_pd.index.rename('value')
stations_pd.to_csv(f'{preprocessed_directory}/nodes.csv', index=True, index_label='value')

In [47]:
range(le.transform(le.classes_)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203])

In [45]:
stations_pd

                                 name
0                       Aleja Bielany
1            Aleja Hallera - Mielecka
2                       Aleja Kromera
3                       Bacciarellego
4    Bacciarellego - pętla autobusowa
..                                ...
199                          Żernicka
200        Żeromskiego - Daszyńskiego
201         Żeromskiego - Kluczborska
202        Żmigrodzka - Broniewskiego
203               Żmigrodzka - Marino

[204 rows x 1 columns]

In [7]:
# import requests
# import lxml.html as lh
# import pandas as pd

# url='https://wroclawskirower.pl/mapa-stacji/'
# page = requests.get(url)
# doc = lh.fromstring(page.content)
# tr_elements = doc.xpath('//tr')
# col=[]
# for t in tr_elements[1:]:
#     col.append(t[1].text_content())